/*

Neumorphic Checkbox Dark&Light Mode
https://codepen.io/DivineBlow/pen/KKgBPxY

*/
/* Light Mode styles */

.books {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.books .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  flex-wrap: wrap;
  padding: 40px 0;
}
.books .container .card {
  position: relative;
  width: 320px;
  height: 500px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 20px;
  background-color: #071d38;
}
.books .container .card .box {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.books .container .card .box .content {
  padding: 20px;
  text-align: center;
}

.books .container .card .box .content img {
  height: 50% !important;
}
.books .container .card .box .content {
  height: 100%;
}

.books .container .card .box .card-body p {
  height: 80px !important;
}
.books .container .card .box .content p {
  color: white;
  font-size: 1em;
  z-index: 1;
  transition: 0.5s;
}
.books .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #071d38;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.books .container .card:hover .box .content a {
  background: #0f1b58;
}

.books .container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #000522, #000855);
}

.books .container .card:hover .box .content h3,
.books .container .card:hover .box .content p {
  color: #fff;
}

.books .container .card {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}
.books .card .box {
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #477fe4 74%);
}
.books .card .box .content h3 {
  color: rgba(255, 255, 255, 0.9);
}
.books .card .box .content p {
  color: rgba(255, 255, 255, 0.9);
}
.books .card .box .content a {
  background-color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.books .container .card:nth-child(1) .box .content a {
  background: #0f1b58;
}
.books .container .card:nth-child(2) .box .content a {
  background: #0f1b58;
}
.books .container .card:nth-child(3) .box .content a {
  background: #112172;
}
.books .container .card:hover .box {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #477fe4, #1b477c);
}
.books h4 {
  color: #041730;
  font-weight: bold;
}
.books .container .card:hover h4 {
  color: #ffffff;
  font-weight: bold;
}
.books1 {
  margin-top: 0;
  padding-top: 0%;
  margin: 0;
  padding: 0 0 0 0;
}

.books .headbook {
  margin-top: 8%;
  margin-left: 50px;
  color: #071d38;
  font-size: 50px;
}
.headerpic {
  height: 100vh;
  background-image: url(../img/roompic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerpic h1 {
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  width: fit-content;
  font-size: 60px;
  box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
  background: linear-gradient(
    40deg,
    rgba(0, 0, 0, 0.418) 60%,
    transparent 100%
  );
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
.headerpic .container,
.headerpic2 .container,
.activityhead .container {
  padding-top: 35vh;
}

.headerpic2 {
  color: white;
  height: 100vh;
  background-image: url(../img/event.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerpic2 h1 {
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  width: max-content;
  font-size: 60px;
  box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
  background: linear-gradient(
    40deg,
    rgba(0, 0, 0, 0.418) 60%,
    transparent 100%
  );
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
.rooms .req {
  margin-left: auto;
  width: fit-content;
}
.rooms .req .btn {
  margin-bottom: 1%;
}

.rooms .div {
  width: 100% !important;
}
.activityhead {
  height: 80vh;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
}
.activityhead h1 {
  margin-left: 50%;
  transform: translateX(-50%);
  color: black;
  width: fit-content;
  font-size: 50px;
  box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.9);
  background: linear-gradient(
    40deg,
    transparent 40%,
    rgba(255, 255, 255, 0.418) 60%,
    transparent 100%
  );
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
